* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  color: #dcc385;
  border: 1px solid #dcc385;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #dcc385;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input,
.form-group select {  /* essa é a borda da caixa de entradas de dados*/
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #555;
}

.form-group input::placeholder {
  color: #555;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #c9b070;
  background-color: #fff;
}

.submit-btn {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background-color: #dcc385;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.submit-btn:hover {
  background-color: #c9b070;
}


/* --------------------------------------*/

